@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html,
body {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.myCustomTable {
  min-height: 0px;
}

.myCustomTable .ag-root-wrapper {
  border: none;
}
.myCustomTable .ag-root-wrapper-body {
  min-height: 50px;
}

.myCustomTable .ag-header {
  background-color: #fff; /* Change this color to your desired header background color */
}

.ag-theme-alpine .ag-layout-auto-height .ag-center-cols-viewport {
  min-height: 0px !important;
}
